/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/*font-family: 'IM Fell French Canon', serif;
*/

/*font-family: 'EB Garamond', serif;
*/

/*Navy #002469
Maroon #742d36
Y. Tan #a3965f
L Tan #d2cdaf
Font color #161616
Lite grey #8c8c8c
dark grey #464646
Darker grey #2b2b2b
Lighter grey #cccccc
off-white font color #e9eaee*/



/***** GENERIC STYLES *************/
/**********************************/


body{
	font-family: 'EB Garamond', serif;
	color: #161616;
}

h1{
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 1.5em;

}

h4{
	color: #002469;
	text-transform: uppercase;
	margin: 0;

}

h5{
	font-size: 1em;
	text-transform: uppercase;
	margin: 0;
}
a{
	color: #742d36;
}

.wrapper{
	margin: 0 auto;
	width: 80%;
	max-width: 900px;
}

header{
	background: url(../img/header.jpg);
	background-repeat: repeat-x;
	height: 100%;
	padding: 10px;
}

header p{
	font-family: 'IM Fell French Canon', serif;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 1.1em;
}

header a{
	display: none;
}

header .biglogo {
	display: none;
}

header img{
	display: block;
	margin: 0 auto;
	width: 35%;
}

.redbox{
	background-color: #742d36;
	-webkit-box-shadow: inset 0px 9px 20px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 9px 20px -6px rgba(0,0,0,0.75);
	box-shadow: inset 0px 9px 20px -6px rgba(0,0,0,0.75);
}

/*DROP DOWN STYLES*/
#cssmenu {
  font-size: 1em;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 0px;
}
#cssmenu ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #ffffff;
  border: 1px solid #ece6e8;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}

#cssmenu > ul li a {
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #161616;
  text-shadow: 0px 1px 0px #fff;
}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #90575e;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}





/***********END OF DROP DOWN CSS*****************************/

.featuredatt{
	background: url(../img/texture.jpg);
	background-repeat: repeat-x;
}

.featuredatt h1{
	margin: 0;
	padding: 25px;
}

.attorneysection img{
	display: block;
	margin: 30px auto 25px auto;
	width: 100%;
}

.tanbox{
	background-color: #d2cdaf;
	padding: 10px 28px;
}

i p{
	margin: 0;
	line-height: 20px;
}

.mobileonly p{
	margin: 10px 0;
}

.mobileonly a{
	display: block;
	text-align: right;
}

.tabletshow{
	display: none;
}

.news article a{
	display: block;
	text-align: right;
}

.highlightedprac{
  	display: block;
  	background: url(../img/texture.jpg);
	background-repeat: repeat-x;
	margin-top: 40px;
  }

  .highlightedprac h1{
	margin: 0 0 0 10px;
	color: #161616;
   }

   .highlightedprac h1:hover{
   	color: white;
   }


#cssmenu2, #cssmenu2 ul, #cssmenu2 li, #cssmenu2 a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	font-weight: normal;
	text-decoration: none;
	line-height: 1;
	font-size: 1em;
	position: relative;
}
#cssmenu2 > ul > li:first-child {
	background: url(../img/texture.jpg);
}
#cssmenu2 > ul > li:first-child > a {
	padding: 15px 10px;
}

#cssmenu2 > ul > li a:first-child:hover{
	color: white;
}

#cssmenu2 > ul > li > a > span {
	display: block;
	padding: 12px 70px;
}
#cssmenu2 > ul > li > a:hover {
	text-decoration: none;
}
#cssmenu2 > ul > li.active {
	border-bottom: none;
}
#cssmenu2 > ul > li.has-sub > a span {
	background: url(../img/plusicon.png) 8% center no-repeat;
	background-size: 32px;
}
#cssmenu2 > ul > li.has-sub.active > a span {
	background: url(../img/minusicon.png) 8% center no-repeat;
}
#cssmenu2 ul ul {
	display: none;
	border-right: 1px solid #a2a194;
	border-left: 1px solid #a2a194;
}
#cssmenu2 ul ul li {
	padding: 0;
	border-bottom: 1px solid #8c8c8c;
	border-top: none;
	background-color: #cccccc;
}
#cssmenu2 ul ul li:last-child {
	border-bottom: none;
}
#cssmenu2 ul ul a {
	padding: 1px 0px 1px 35px;
	display: block;
	color: #161616;
	font-size: 1em;
}
footer{
	background-image: url(../img/footer.jpg);
	color: #e9eaee;
	text-align: center;
}

.loginbox{
	background-color: white;
	color: #161616;
	width: 80%;
	padding: 10px;
	display: inline-block;
	margin: 25px 0;
	text-align: left;
	line-height: 30px;
}

.loginbox input{
	border: 1px solid #464646;
	border-radius: 3px;
	width: 98%;
    height: 30px;
}
input[type=submit] {
	width: 30%;
	float: right;
	border: none;
	color: #e9eaee;
	border-radius: 5px;
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	text-shadow: 0 2px 1px #161616;
}

.missionstatement{
	text-align: left;
	margin: 25px auto 50px auto;
	width: 80%;

}

.contactinfo{
	width: 45%;
	display: block;
	margin: 0 auto;
	font-size: 0.9em;
}

.contactinfo ul{
	list-style: none;
	padding: 0;
}

.copyright, .sitemap{
	font-size: .7em;
	display: inline-block;
}

.sitemap a{
	color: #e9eaee;
}

.copyright{
    text-align: left;
    margin-right: 20%;
}

.sitemap{
	text-align: right;
}

.highlightedpracdesktop{
	display: none;
}



/***** SPECIFIC STYLES ************/
/**********************************/
@media (max-width: 600px) {
  #cssmenu > ul {
    width: 100%;
  }

  #cssmenu > ul li#responsive-tab {
    display: block;
  }
 /* #cssmenu > ul li#responsive-tab a {
    background: url('../img/arrow.jpg') no-repeat;
    background-position: 95%
  }*/

  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #90575e;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li.right {
    float: none;
  }


}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {

  .wrapper{
  	width: 90%;
  }
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }

  #cssmenu ul{
  	background-color: #742d36;
  	border: none;
  }

  #cssmenu ul li a{
  	text-shadow: none;
  	padding: 0;
  }

  #cssmenu ul li{
  	/*display: inline-block;
  	width: 15%;*/
  	margin: 0;
  }

  #cssmenu ul li.active, #cssmenu ul li.pa, #cssmenu ul li.rc{
  	width: 10%;
  }

 /* #cssmenu ul li.last{
  	text-align: right;
  }
  #cssmenu ul li.last, #cssmenu ul li.home{
  	width: 5%;
  }*/

  header p{
  	font-size: 1.5em;
  }

  header img{
  	max-width: 25%;
  }
  
  .attorneysection img {
    max-width: 100%;
    margin: 0;
	}

.attorneysection{
  	display: inline-block;
  	vertical-align: top;
  	margin: 30px 15px 25px 0;
  }

  .tanbox{
	display: inline-block;
	width: 36%;
	margin-top: 30px;
    padding-bottom: 43px;
    position: relative;

   }

   .tanbox p{
   	margin: 0;
   }

   .tanbox h5{
   	margin-top: 10px;
   }

  .mobileonly{
  	display: none;
  }

  .tabletshow{
  	display: block;
  }

  .tabletshow ul{
  	padding-left: 18px;
  }

  .tabletshow img{
  	width: 13%;
  	position: absolute;
  	margin: 0px;
  	right: 15px;
    bottom: 10px;
  }

  .news article a{
  	display: none;
  }

  .news1 p, .news2 p{
  	margin: 0;
  }

  .news1, .news2{
  	display: inline-block;
  	width: 47%;
  	vertical-align: top;
  }

  .news1{
  	margin-right: 15px;
  }


#cssmenu2 > ul > li.has-sub > a span {
	background: url(../img/plusicon.png) 4% center no-repeat;
	background-size: 32px;
}
#cssmenu2 > ul > li.has-sub.active > a span {
	background: url(../img/minusicon.png) 4% center no-repeat;
}



  .loginbox{
  	display: none;
  }
  footer{
  	margin-top: 0;
  }

  .missionstatement {
    text-align: center;
	}

  .copyright{
  	margin-right: 54%;
  }
}

@media (min-width: 800px) {

	.wrapper{
		width: 90%;
	}

	header .biglogo{
		display: block;
	}

	header .smalllogo{
		display: none;
	}

	header p{
		font-size: 1.8em;
	}

	.featuredatt h1{
		padding-left: 40px;
	}

	.tanbox{
		width: 52%;
		padding-bottom: 83px;
	}

	.tabletshow img {
    width: 8%;
	}

	#cssmenu ul li{
		margin-right: 10px;
	}

	.highlightedprac{
		display: none;
	}

	.highlightedpracdesktop{
		display: block;
	}

	#cssmenu2 ul li a{
		color: white;
	}
	}

	#cssmenu2 #second{
		background-color: #8c8c8c;
		display: inline-block;
		padding: 10px 30px;
	}

	#cssmenu2 #third{
		background-color: #464646;
		display: inline-block;
		padding: 10px 30px;
	}

	#cssmenu2 #fourth{
		background-color: #c2bc9b;
		display: inline-block;
		padding: 10px 30px;
	}

	#cssmenu2 #fifth{
		background-color: #a3965f;
		display: inline-block;
		padding: 10px 30px;
	}

	#cssmenu2 #sixth{
		background-color: #002469;
		display: inline-block;
		padding: 10px 30px;
	}

	#cssmenu2 #seventh{
		background-color: #742d36;
		display: inline-block;
		padding: 10px 30px;
	}
}
